<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yhf.seckill.mapper.GoodsMapper">

     <resultMap id="goodsResultMap" type="pers.yhf.seckill.vo.GoodsVo">
        <result column="seckill_price" property="seckillPrice"/>
        <result column="stock_count" property="stockCount"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
     </resultMap>
    
        
	<select id="getGoodsVoList" resultMap="goodsResultMap"> 
          select g.*,mg.stock_count, mg.start_date, mg.end_date,mg.seckill_price 
            from seckill_goods mg 
          left join goods g on mg.goods_id = g.id
    </select>
    
    
    <select id="getGoodsVoByGoodsId" parameterType="long" resultMap="goodsResultMap">
       select g.*,mg.stock_count, mg.start_date, mg.end_date,mg.seckill_price 
             from seckill_goods mg left join goods g 
             on mg.goods_id = g.id where g.id=#{goodsId}
    </select>
    
    
    
    <update id="reduceStock" parameterType="SeckillGoods" >
       update seckill_goods
           set stock_count = stock_count-1,version = version+1
        where goods_id=#{goodsId} and stock_count > 0 and version = #{version}
    </update>
     
     
     
     
     <select id="selectStock" parameterType="long" resultType="integer"> 
          select stock_count from seckill_goods where goods_id = #{goodsId}
    </select>
      
      
      <select id="getGoodsByGoodsId" parameterType="long" resultType="Goods"> 
          select * from goods where id = #{goodsId}
    </select>
      
      
    
</mapper>