<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yhf.seckill.mapper.SeckillUserMapper" >
     
     
    <select id="getUserById" parameterType="long" resultType="SeckillUser" >
        select * from seckill_user where id = #{id}
    </select>
    
     
    <select id="update" parameterType="SeckillUser">
       upate seckill_user set password= #{password} where id = #{id}
    </select>
    
    
    <select id="updateSeckillUserLoginInfo" parameterType="string">
       update seckill_user set login_count=login_count+1 where nickname = #{nickname}
    </select>
    
    
    <select id="getSeckillUserByNickName" parameterType="string" resultType="SeckillUser">
        select * from seckill_user where nickname = #{nickname}
    </select>
    
    
    <select id="getSeckillGoodsStockCountByGoodId" parameterType="long"  resultType="integer">
         select stock_count from seckill_goods where goods_id = #{goodsId}
    </select>
     
    
    <update id="backStockCount" parameterType="SeckillGoods">
        update seckill_goods set stock_count = #{stockCount} 
            where goods_id = #{goodsId}
    </update>
    
    
    
   <select id="getSeckillGoodsList" resultType="SeckillGoods">
        select * from seckill_goods
    </select> 
    
     
    <select id="getSeckillGoodsByGoodsId" parameterType="long" resultType="SeckillGoods">
         select * from seckill_goods where goods_id = #{goodsId}
    </select>
      
         
</mapper>
